<div class="just-padding">
  <h2> {{title}}</h2>
  <div class="col-sm-6">
    <ul class="list-group list-group-root well">
      <li *ngFor="let fest of getRecordLabels(festivals) | sortBy:'asc':'label'" class="list-group-item">
        <b>Record Label:</b> {{fest.label}}
        <ul class="list-group">
          <li *ngFor="let band of fest.bands | sortBy:'asc':'bandname'" class="list-group-item"><b>Band:</b> {{band.bandname}}
            <ul *ngIf="band.festival !== null" class="list-group">
              <li class="list-group-item"><b>Festival:</b> {{band.festival}}</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>



